:root {
  --main_color: #0dbdc6;
  --text_color: #000000;
  --box_color: #0dbdc651;
}

html * {
  font-family: monospace;
}

body, html {
  height: 100%;
}

.homepage {
  margin: 0px;
}

h1, h2, h3 {
  margin: 0px;
  color: var(--text_color)
}

h1 {
  font-size: 100px;
}
  
.header {
  padding-left: 10%;
  margin: 0px;
  padding-top: 0px;
  text-align: left;
  background: var(--main_color);
  color: var(--text_color);
  font-size: 20px;
  margin: 0px;
  padding-bottom: 20px;
  padding-top: 20px
}
    
    
.bg-1 {
  width: 100%;
  height: 30vw;
  position: relative;
  background-position: center; 
  background-repeat: repeat;
  background-size: cover;
  border-width: 0px;
  border-bottom-width: 5px;
  border-style: solid;
  border-color: #b7b7b7;
}

#navigator {
  z-index: 100;
  top: 0px;
  left: 0px;
  position: sticky;
  display: flex;
  background-color: var(--main_color);
  flex-direction: row;
}

.navigator-button {
  font-weight: bolder;
  background-color: var(--main_color);
  padding: 10px;
  border: 1px;
  border-style: solid;
  border-color: antiquewhite;
}

.background-square {
    top: 5vw;
  left: 40vw;
  float: none;
  position: absolute;
  width: 20vw;
  height: 20vw;
  background-color: var(--box_color);
}

.floating-quote {
  position: absolute;
  font-size: 2vw;
}

#quote-1 {
  top: 6vw;
  left: 47vw;
}

#quote-2 {
  top: 10vw;
  left: 38vw;
}

#quote-3 {
  top: 14vw;
  left: 44vw;
}

#quote-4 {
  top: 19vw;
  left: 37vw;
  font-size: 2.5vw;
}

.bg-2 {
  width: 100%;
  height: 30vw;
  position: relative;
  background-position: center; 
  background-repeat: repeat;
  background-size: cover;
}

/* .box {
  width: 250px;
  height: 100%;
  background-color: white;
  background: rgb(204, 204, 204); 
  background: rgba(204, 204, 204, 0.5);
  color: black;
}
.box:hover {
  opacity: 1;
} */



#rssBlock{
  left:0px;
  height: auto;
  position: sticky;
  top:0px;
  background: black;
  width:100%;
  overflow: hidden;
  opacity: 100%;
}

.cnnContents {
  width:100%;
  margin:0 auto;
  font-size: 30px;
  white-space: nowrap;
  font-family: 'Museo';
  font-weight: 300;
  color: white;
}


.scrollendetext {
  display:inline-block;
  /* Apply animation to this element */
  animation: scrolling-left2 60s linear infinite;
}
@keyframes scrolling-left2 {
  0% {transform: translateX(100vw)}
  100% {transform: translateX(-100%)}
}
